# Ignore all VSCode configuration files
vscode/*

# Allow specific configuration files if needed
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignore workspace files
!*.code-workspace

# Ignore built Visual Studio Code extensions
*.vsix

config/api_key.yml
config.yml

# Ignore pycache files
pycache/__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/
.virtualenv/

node_modules/

# Output files
*.pdf
latest_report.html

